body {
	color: #334960;
	background-color: lightblue;
	font-family: Lora;
	font-size: 18px;
	max-width: 640px;
	margin: 0 auto 0 auto;
	line-height: 1.5;
}

header {
	padding: 40px 0 20px 40px;
	display: block;
	color: white;
}

h1 {
	font-size: 36px;
	border-bottom: solid 1px white;
}

h2 {
	font-size: 24px;
}

section {
	padding: 20px 40px 20px 40px;
}

ul {
	list-style: disc inside;
	padding-bottom: 20px;
}

a {
	text-decoration: none;
	color: #ff715b;
  }

a:hover {
	color: white;
}

a:focus {
	color: white;
}

p {
	margin: 0 0 1em 0;
}

em {
	font-style: italic;
}